
// I would normally divide and import my css here for general styles, and then use modules for component specifics.
// I have placed some general css here now to save time

@import './variables';
@import './layout';


.primary_text_input {
    padding: 2px 4px;
    margin-bottom: 12px;
    padding: 6px 6px;
    width: 260px;
  }
  
  .primary_button {
    border: none;
    background-color: #33cc33;
    color: white;
    display: block;
    font-size: 14px;
    padding: 6px 12px;
  }
  
  .user_detail_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
  }
  
  .user_detail_item {
    font-size: 22px;
    text-align: left;
    margin-right: 12px;
  }
  
  .user_search_result {
    text-align: left;
    display: block;
  }
  
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  
  li {
    list-style: none;
    min-height: 40px;
    line-height: 40px;
    padding-left: 12px;
    border-top: 1px #CCC solid;
    text-align: left;
  }
  
  li:last-of-type {
    border-bottom: none;
  }
  
  .fixed_content {
    position: fixed;
  }
  .search_form.error {
    color: red;
    margin-left: 6px;
    font-size: 12px;
  }